/* line 1, content/stylesheets/facebox.css */
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

/* line 10, content/stylesheets/facebox.css */
#facebox .popup {
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
}

/* line 21, content/stylesheets/facebox.css */
#facebox .content {
  display: table;
  width: 370px;
  padding: 10px;
  margin: 0px;
  float: none;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 33, content/stylesheets/facebox.css */
#facebox .content > p:first-child {
  margin-top: 0;
}

/* line 36, content/stylesheets/facebox.css */
#facebox .content > p:last-child {
  margin-bottom: 0;
}

/* line 40, content/stylesheets/facebox.css */
#facebox .close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
  background: #fff;
}

/* line 47, content/stylesheets/facebox.css */
#facebox .close img {
  opacity: 0.3;
}

/* line 50, content/stylesheets/facebox.css */
#facebox .close:hover img {
  opacity: 1.0;
}

/* line 54, content/stylesheets/facebox.css */
#facebox .loading {
  text-align: center;
}

/* line 58, content/stylesheets/facebox.css */
#facebox .image {
  text-align: center;
}

/* line 62, content/stylesheets/facebox.css */
#facebox img {
  border: 0;
  margin: 0;
}

/* line 67, content/stylesheets/facebox.css */
#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

/* line 75, content/stylesheets/facebox.css */
.facebox_hide {
  z-index: -100;
}

/* line 79, content/stylesheets/facebox.css */
.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}
